body {
    font-family: Verdana;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    padding-left: 0px;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    padding-left: 0px;
}

nav {
    width: 900px;
    margin-top: 25px;
}

aside {
    position: relative;
    float: left;
    width: 250px;
    margin-top: 25px;
}

div[role=main] {
    position: relative;
    float: left;
    width: 600px;
    margin-top: 25px;
    margin-left: 20px;
}

footer {
    clear: both;
    width: 900px;
    text-align: center;
    font-size: 11px;
}

#registracija {
    float: left;
    padding-top: 50px;
    padding-left: 20px;
}

#prijava {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
}

#logo {
    float: left;
}

img {
    width: 60px;
    height: 60px;
    padding-top: 10px;
}

li::first-letter {
    text-transform: capitalize;
}

#nazivProjekta::first-letter {
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

#todolists {
    padding-left: 0px;
    list-style-type: none;
}

.list {
    font-size: 14px;
}

a#noviProjekt:link, a#noviProjekt:visited, a#delProjekt:link, a#delProjekt:visited {
    color: red;
}

a#noviProjekt:hover {
    text-decoration: underline;
    color: red;
}

a#noviProjekt:active {
    color: orange;
}

#prijavaDiv, #registracijaDiv {
    visibility: hidden;
}

.input {
    width: 30px;
}

.checked {
    text-decoration: line-through;
}

.todoList {
    padding-left: 10px;
    background-color: silver;
}

#doneItemList, #toDoItemList {
    width: 500px;
    margin-top: 20px;
}


#divDoneItemList, #divToDoItemList {
    position: relative;
    float: left;
}

.red {
    color: red;
}

#divTasks {
    position: relative;
    float: left;
}

#allTasks {
    border: 1px solid black;
    width: 250px;
    min-height: 400px;
    margin-top: 20px;
}

body {
    background: #87cefa;
}

#container {
    background: White;
    margin: auto;
    padding: 10px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    min-height: 300px;
    
}

footer {
    padding: 5px;
    clear: both;
    font-size: x-small;
    margin-top: 20px;
    width: 100%;
}

#prijavaDiv {
    background: gray;
    color: White;
    padding: 5px;
    margin-top: 15px;
}

.stupac {
    background: gray;
    padding: 5px;
    color: White;
    width: 100px;
}

#registracijaDiv table {
}

table {
    border-collapse: collapse;
}

input {
    border: 1px solid Gray;
}

.list {
    background-color: aliceblue;
    padding: 5px;
}

.controlLi2 {
    padding: 10px 10px 15px 10px;
    text-align: center;
    border-bottom: 2px solid Red;
}

.controlLi2 a:first-child {
    color: red;
}

.controlLi2 a:first-child:hover {
    text-decoration: underline;
}