/*############################################*/
/*Strukturni djelovi web-a*/
/*############################################*/
#otpad {
    position: fixed;
    left:1100px;
    top:200px;
    border: 3px dashed black;
    width: 50px;
    height: 50px;
}
body {
    font-family: Verdana;
    font-size: 14px;
      -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
h1 {
    font-size: 16px;
    font-weight:700;
    padding-left: 0px;
}
h2 {
    font-size: 14px;
    font-weight:700;
    padding-left: 0px;
}
#container {
    position: relative;
    margin: 0 auto;
    width: 900px;
    min-height:600px;
}
header {
    width: 900px;
}
nav {
    width: 900px;
    margin-top: 25px;
}
aside {
    position: relative;
    float:left;
    width: 250px;
    margin-top: 25px;
}
div[role=main] {
    position: relative;
    float: left;
    width: 600px;
    margin-top: 25px;
    margin-left: 20px;
}
footer {
    clear: both;
    width: 900px;
    text-align: center;
    font-size: 11px;
}
/*############################################*/
/*???????????*/
/*############################################*/
img {
    width: 60px;
    height: 60px;
}
li::first-letter {
    text-transform: capitalize;
}
#nazivProjekta::first-letter {
    text-transform: capitalize;
}
a {
    text-decoration: none;
}
#todolists {
    padding-left: 0px;
    /*list-style-type: square;*/
    list-style-type: none;
}
/*Lista s popisom projekata*/
.list {
    font-size: 14px;
    border: 1px solid red;
    
}
/*
.itemTdName, .doneItemTdName {
    border-bottom: 1px solid black;
    min-width: 300px;
}
*/
/*Link za dodavanje novog projekta*/
a#noviProjekt:link, a#noviProjekt:visited {
    color: red;
}
a#noviProjekt:hover {
    text-decoration: underline;
    color: red;
}
a#noviProjekt:active {
    color: orange;
}
/*Link kreira novi projekt*/
a#novi:link, a#novi:visited {
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: red;
    padding: 2px 4px;
}
a#novi:hover {
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    background-color: orange;
}
a#novi:hover {
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    background-color: red;
}
/*Link za odustajanje od kreiranja projekta*/
a#odustani:link, a#odustani:visited {
    color: black;
}
a#odustani:hover {
    text-decoration: underline;
    color: black;
}
a#odustani:active {
    color: orange;
}

/*############################################*/
/*Unos stavki putem input polja i drag and drop*/
/*############################################*/

/*TESTIRANJE DRAG AND DROP*/
ul {
    border: 1px dashed red;
}
td {
    border: 1px dashed blue;
}
/*sljedeća 3 su polja u kojima su aktivni i gotovi zadaci*/
.input {
    width: 30px;
}
.checked {
   text-decoration: line-through; 
}
.todoList {
    padding-left: 10px;
    background-color: silver;
}
#doneItemList, #toDoItemList {
    border: 1px solid red;
    width: 500px;
    margin-top: 20px;
}


#divDoneItemList, #divToDoItemList {
    position: relative;
    float: left;
    border: 1px solid green;
}
.red {
    color: red;
}
.doneItemTdName {
    text-decoration: line-through;
}
/*############################################*/
/*Unos taskova iz xml-a*/
/*############################################*/
#divTasks {
    position: relative;
    float: left;
}
#allTasks {
    border: 1px solid black;
    width: 250px;
    min-height: 400px;
    margin-top: 20px;
}
